body {
    margin: 0;
    padding: 0;
    background-color: #1B526F;
  }
  
  .vpleads-main {
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    color: white;
  }
  .filter-heading{
   text-align: left;
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px;
    color: #353535;
  }
  .filter-heading-first{
    text-align: left;
    font-size: 12px;
    font-weight: 500;
    margin-top: 20px;
    color: #353535;
  }
  .dropdown-data {
    text-align: left;
    width: 90%;
    display: block;
    margin-top: 5px;
    background-color: white;
    color: #353535;
    font-size: 14px;
    border-bottom: 1px solid #353535;
    margin-top: 8px;
  }
  .value-report-button{
    margin: 10px 36px 8px -42px;
    background-color: white;
    font-size: 22px;
    color: #353535;
    font-weight: 700;
    padding: 4px;
    border-radius: 80px / 157px 0px;
  }
  .booking-feedback-button{
    margin: 20px 28px 5px 5px;
    background-color: #45C1E9;
    color: black;  
    border-radius: 100px;
    padding: 10px;
    font-weight: 500;
    border: 1px solid white;
  }
  .note{
    margin-top: 20px;
    padding: 10px;
    border-radius: 5%;
    border: 1px solid black;
    font-size: 10px;
  }
  .note {
    color: #353535;
  }
  
  .note span {
    color: red;
  }
  .chart-lead-bucket{
    color: #353535;
    font-size: 18px;
    margin-left: 70px;
  }
  .chart-container {
    max-width: 100%;
    margin-left: 10px;
  }
  .legend-text {
    display: flex;
    align-items: center;
    color: rgb(235, 233, 233);
    font-size: 12px;
    color:#353535
  }
  .value-chart{
    margin-top: 10px;
  }
  .value-button{
    margin: 5px;
    background-color: #d1f3ff;
    color:#353535;  
    text-align: center;
    padding: 10px;
    font-size: 28px;
    font-weight: 400;
    /* box-shadow: 2px 2px 2px 2px #1A4D68; */
    width: 60%;
  }
  .text-booked{
    color: #353535;
    font-size: 14px;
    font-weight: 300;
  }
  .legend-main{
    margin-left: 5px;
    margin-top: 30px;
  }
  .table-header>tr>th{
    font-size: 11px;
    background-color: #0F96BF;
    color: white;
    font-weight: 500;
    border: 1px solid #353535;
  }
  .table-body>tr>td{
    font-size: 9px;
    padding: 0px;
    border: 1px solid #353535;
    background-color: white;
    color: #353535;
  }
  .table-name{
    margin-top: -30px;
  }
  .clickable-cell {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
  }
  .range_value-left{
   border: 1px solid white;
   padding: 3px;
    margin-right: 10px;
    font-size: 12px;
    background-color: white;
    color: #353535;
  }
  .range_value-right{
    border: 1px solid white;
   padding: 3px;
    margin-left: 5px;
    font-size: 12px;
    background-color: white;
    color:#353535
  }
  .range-selector {
    width: 180px; /* Adjust the width as per your requirement */
  }
  
  .slider-wrapper {
    display: flex;
    align-items: center;
  }
  
  .custom-slider {
    flex-grow: 1;
    margin-right: 10px;
  }
  
  .slider-values {
    display: flex;
  }
  
  .slider-values span {
    margin-right: 10px;
  }
  
  .toggle-option {
    display: inline-block;
    padding: 8px 25px;
    cursor: pointer;
    color: #333;
    background-color: #eee;
    border-radius: 0px;
    transition: background-color 0.3s;
    margin-right: 0px;
  }
  
  .toggle-option.active {
    color: #fff;
    background-color: #0F96BF;
  }
  .toggle-main{
    margin-top: 10px;
    margin-left: -25px;
  }
  .chart-containers {
    margin-left: 62px;
    margin-top: 26px;
  }
  .go-back-btn{
    display: inline-block;
    /* flex-direction: row; */
    margin-left: -75px;
    margin-top: 15px;
    width:20%;
}
.btn-back{
  background-color: #0F96BF;
 
  padding: 2px;
  color: white;
}