/* .chart-container {
    width: 100px;
    height: 100px;
  } */
  @media only screen and (min-device-width: 1350px) {
  .div_chart{
    margin-left: 40px;
  }
}
  /* .chart-container canvas {
    margin-left: -22px;
    width: 50% !important;
    height: 50% !important;
  } */
  /* .chartjs-render-monitor {
    display: block !important;
    height: 92px !important;
    width: 160px !important;
    margin-left: -15px !important;
} */