.chart-container {
    width: 100px;
    height: 100px;
  }
  
  .chart-container canvas {
    margin-left: -16px;
    /* width: 50% !important;
    height: 50% !important; */
  }
  .chart-containers canvas {
    margin-left: 67px;
    width: 100% !important;
    height: 100% !important;
  }
  